
.card-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  max-width: 400px;
  margin-bottom: 8px;

  .flag{
    margin:20px 10px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

}


mat-divider{
  margin:20px 0;
}

@media (max-width: 550px) {
  .card{
    width: 100%;
  }
}




// img{
//   width: 100px;
// }
