
<div class="tools">

  <!-- input search country -->
  <app-search
    [label]="'Enter a country'"
    (onSearchValue)="searchCountryValue($event)"
  ></app-search>

  <!-- Input search by region -->
  <app-search
  [label]="'Enter a region'"
  (onSearchValue)="searchByRegion($event)"
  >
  </app-search>

  <span class="spacer"></span>

  <button mat-raised-button color="warn">Warn</button>
  <!-- all countries -->



</div>

<!-- countries list -->
<app-country-list [countries]="countriesList"></app-country-list>



